<header>
  <div class="left-header">
    <a href="/">
      <img id="nutrimeal-logo" src="images/logos/logo.png" alt="" />
    </a>
    NutriMeal
  </div>
  <div class="right-header">
    <img src="images/logos/fblogo.png" alt="" />
    <img src="images/logos/instalogo.png" alt="" />
    <img src="images/logos/snaplogo.png" alt="" />
    <img src="images/logos/twittlogo.png" alt="" />
  </div>
</header>
