<header>
  <div class="left-header">
    <a href="/">
      <img id="nutrimeal-logo" src="/images/logos/logo.png" alt="" />
      NutriMeal
    </a>
  </div>
  <div class="right-header">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Social
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><img src="/images/logos/fblogo.png" alt="" />Facebook</li>
        <li><img src="/images/logos/instalogo.png" alt="" />Instagram</li>
        <li><img src="/images/logos/snaplogo.png" alt="" />Snapchat</li>
        <li><img src="/images/logos/twittlogo.png" alt="" />Twitter</li>
      </ul>
    </div>

    <% if( isAuthenticated ) { %>
      <form action="/users/<%=locals.user._id%>/profile/">
        <div style="text-align: right">
          <button class="btn btn-warning" type="submit">Profile</button>
        </div>
      </form>
    <form action="/users/logout" method="POST">
      <div style="text-align: right">
        <button class="btn btn-warning" type="submit">LogOut</button>
      </div>
    </form>
    <% } else { %>
      <form action="/users/signin" method="POST">
        <div style="text-align: right">
          <button class="btn btn-warning" type="submit">SignIn</button>
        </div>
      </form>
      <% } %>

  </div>
  
</header>
