<div class="top-section">
  <div class="intro-section">
    <div id="intro-title">The Best Way to Plan Your Meals</div>
    <div id="intro-paragraph">
      Are you tired of planning what to eat and cook everyday? Do you want to
      eat delicious meals while being nutritious? NutriMeal helps you plan your
      meals while being fit for diet. They can give you recommendations everyday
      and even organize for the entire week.You can learn how to cook food from
      different cultures and adjust them to your likings. You can even post the
      food you have cooked with your friends and family. Food is one of the most
      important for a human being. With us, you can be reassured of your meals
      and to have healthy and nutritious diet.
    </div>
  </div>

    <% if (isAuthenticated) { %>
    <div id="user-section">
      <h3>Welcome <%= locals.user.firstName %> <%= locals.user.lastName %>!</h3>
      <p>
        You can update your profile, order meal online, and leave a comment for
        each meal.
      </p>
    </div>
    <% } else { %>
      <div id="user-section"><div>
        <p>
          Becomes a member to order meals online, get recommendations, and much
          more
        </p>
        <a id="signup-link" href="/users/signup">Sign Up</a>
      </div>
      <div>
        <p>Already a member?</p>
        <a id="signin-link" href="/users/signin">Sign In</a>
      </div></div>
    <% } %>
    
</div>
  <div class="Howitworks">
    <table align="center" style="width: 70%">
      <caption>
        <h2>How it works</h2>
      </caption>
      <tr align="center">
        <td>
          <a href="/menu"
            ><img
              src="https://cdn-icons-png.flaticon.com/512/2082/2082045.png"
              width="100"
              height="100"
          /></a>
        </td>
        <td>
          <img
            src="https://cdn-icons-png.flaticon.com/512/186/186146.png"
            width="100"
            height="100"
          />
        </td>
        <td>
          <img
            src="https://cdn-icons-png.flaticon.com/512/1005/1005758.png"
            width="100"
            height="100"
          />
        </td>
        <td>
          <img
            src="https://cdn-icons-png.flaticon.com/512/833/833634.png"
            width="100"
            height="100"
          />
        </td>
      </tr>

      <tr style="text-align: center; height: fit-content">
        <td><h3>Choose your meals</h3></td>
        <td><h3>Learn to cook</h3></td>
        <td><h3>Buy Ingredients</h3></td>
        <td><h3>Eat and Repeat</h3></td>
      </tr>
      <tr class="How-comments">
        <td>Rotating menus from <br />different cultures</td>
        <td>Watch our videos and <br />learn to cook</td>
        <td>Choose and buy all the <br />fresh ingredients</td>
        <td>Change and customise meals, <br />skip a week or cancel anytime</td>
      </tr>
    </table>
  </div>

  <div class="What-say">
    <table align="center" style="width: 80%" border="0">
      <caption style="margin-right: 60px">
        <h2>What others are saying</h2>
      </caption>
      <tr align="center" style="height: 50px">
        <td>
          <img src="images/general/5star.png" width="150" height="50" />
        </td>
        <td>
          <img src="images/general/5star.png" width="150" height="50" />
        </td>
        <td>
          <img src="images/general/5star.png" width="150" height="50" />
        </td>
      </tr>

      <tr class="What-comments">
        <td>It is great</td>
        <td>Tasty recipes</td>
        <td>Clear instructions</td>
      </tr>
    </table>
  </div>

  <div class="Contact">
    <div class="Contact-title">
      <h2><u>Contact Us</u></h2>
    </div>
    <div class="Contact-items">
      <div class="Address">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1433/1433265.png"
          width="20"
          height="20"
        />
        Address:<br />
        2624 Time Ave, 92851,<br />
        Fullerton, California
      </div>
      <div class="Phone">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1433/1433265.png"
          width="20"
          height="20"
        />
        Phone Number:<br />
        714-322-0987
      </div>
      <div class="Email">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1433/1433265.png"
          width="20"
          height="20"
        />
        Email:<br />
        <a href="mailto:Scrum7@gmail.com">Srum7@gmail.com</a>
      </div>
    </div>
  </div>
</div>
