#have-account {
    font-size: 24px;
    padding-top: 20px;
}

#password-requirements {
    background: #f1f1f1;
    padding-left: 80px;
    margin: 10px 0px 10px 0px;
    display: none;
}

#requirement-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 800;
}

#password-requirements p {
    margin: 0;
    padding: 0px 0px 2px 30px;
    font-size: 15px;
    font-weight: 100;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -30px;
    content: "✔";
}
  
  /* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -30px;
    content: "✖";
}

