<section class="menu">
  <div class="title">
    <h2>Menu</h2>
    <div class="underline"></div>
  </div>
  <div class="btn-container"></div>
  <div class="section-center">
    <article class="menu-item"></article>
  </div>
</section>
