<div class="recipe-title">
    <h1>Buttermilk Pancakes</h1>
  </div>
  <div class="recipe-picture">
    <img src="https://therecipecritic.com/wp-content/uploads/2014/11/buttermilk_pancakes2.jpg" width="500" height="750">
  </div>

  <div class="description">
    The best and only Buttermilk Pancake recipe that you will need! Perfectly fluffy every single time!
  </div>

  <div class="time-need" style="display:flex;">
    <div>
      <h3>Prep Time</h3>
      10 minutes
    </div>
    <div>
      <h3>Cook Time</h3>
      5 minutes
    </div>
    <div>
      <h3>
        Total Time
      </h3>
      15 minutes
    </div>
  </div>

  <div class="ingredients">
    <h2>Ingredients</h2>
    <ul>
      <li>1½ Cups | 190g Flour</li>
      <li>4 Teaspoons Baking Powder</li>
      <li>Pinch of Salt</li>
      <li>2 Tablespoons Sugar (optional)</li>
      <li>1 Egg</li>
      <li>1¼ Cups | 310ml Milk</li>
      <li>¼ Cup | 60g Melted Butter + more for cooking</li>
      <li>½ Teaspoon Vanilla Essence</li>
    </ul>
  </div>

  <div class="prep-instructions">
    <h2>Instructions</h2>
    <ol>
      <li>In a large bowl mix together the flour, baking powder and salt with a wooden spoon. Set to the side.
      </li>
      <li>In a smaller bowl crack in the egg and pour in the milk.</li>
      <li>Add the melted butter and vanilla essence to the egg and milk and use a fork to mix together 
        until everything is well combined.</li>
      <li>Make a well in the dry ingredients and pour in the wet. 
        Fold the batter together with a wooden spoon until there are no longer any large lumps.</li>
      <li>To cook the pancakes heat a heavy based pan like cast iron over medium low heat. 
        When the pan is hot add a small amount of butter and ⅓ cup of the pancakes batter.</li>
      <li>Cook the pancake for 2-3 minutes each side. Repeat with remaining batter.</li>
      <li>Serve the pancakes stacked high with butter and maple syrup. Enjoy.</li>
      </li>
    </ol>
  </div>

  <div class="recipe-video">
    <iframe width="562" height="316" src="https://www.youtube.com/embed/FLd00Bx4tOk" title="How to make Pancakes | Fluffy Pancake Recipe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="nutritions">
    <table>
      <caption>Nutrition</caption>
      <tr><td>Calories</td><td>228kcal</td></tr>
      <tr><td>Protein</td><td>7g</td></tr>
      <tr><td>Saturated Fat</td><td>5g</td></tr>
      <tr><td>Sodium</td><td>353mg</td></tr>
      <tr><td>Fiber</td><td>1g</td></tr>
      <tr><td>Vitamin A</td><td>347IU</td></tr>
      <tr><td>Iron</td><td>2mg</td></tr>
      <tr><td>Carbonhydrates</td><td>30g</td></tr>
      <tr><td>Fat</td><td>9g</td></tr>
      <tr><td>Cholestrol</td><td>64mg</td></tr>
      <tr><td>Potassium</td><td>243mg</td></tr>
      <tr><td>Sugar</td><td>8g</td></tr>
      <tr><td>Calcium</td><td>142mg</td></tr>
    </table>
  </div>

  <div class="time-need" style="display:flex;">
    <div>
      <h3>Course</h3>
      Breakfast, Main Course
    </div>
    <div>
      <h3>Cuisine</h3>
      American
    </div>
  </div>
