<div class="wrapper">
  <div class="form-ctn" style="margin-top: 100px">
    <div class="form-title">Sign In</div>
    <form id="signin-form" action="/signin" method="post">
      <div class="form-row">
        <input
          type="email"
          placeholder="Your Email Address"
          id="userEmail"
          name="email"
          required
        />
      </div>

      <div class="form-row">
        <input
          type="password"
          placeholder="Your Password"
          id="userPassWord"
          name="password"
          required
        />
      </div>
      <div class="password-help-container">
        <div class="showpassword-container">
          <input type="checkbox" onclick="showPassWord()" />Show Password
        </div>
        <div class="forgotpassword-container">
          <a href="/signin/forgotpassword">Forgot Password?</a>
        </div>
      </div>
      <div style="text-align: center">
        <button style="width: 90%" class="btn btn-primary" type="submit">
          Sign in
        </button>
      </div>
      <div class="bottom-section">
        <div class="new-customer">New Customer?</div>
        <div class="create-account">
          <a href="/signup">Create Account</a>
        </div>
      </div>
    </form>
  </div>
</div>
