.form-ctn {
    margin: 40px 0px 60px 0px;
    border: 1px solid black;
    width: 500px;
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 26px;
    font-weight: 800;
}

.form-row {
    margin-left: 20px;
    padding: 0px 15px 15px 0px;
}

.form-row input, .form-row select {
    width: 100%;
    font-size: 18px;
    padding: 10px 0px 10px 10px;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.form-row input:focus, .form-row select:focus {
    border-bottom: 4px solid black;
}

.form-row {
    padding: 0px 15px 15px 0px;
}

.form-row i {
    width: 500px;
    margin-left: -30px;
    cursor: pointer;
}

.form-sub-row, .form-sub-row a {
    text-align: center;
    font-size: 14px;
    color: rgb(20, 20, 20);
}

.form-sub-row a:hover {
    color: blue;
}

#password-requirements {
    background: #f1f1f1;
    padding-left: 80px;
    margin: 10px 0px 10px 0px;
    display: none;
}

#requirement-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 800;
}

#password-requirements p {
    margin: 0;
    padding: 0px 0px 2px 30px;
    font-size: 15px;
    font-weight: 100;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -30px;
    content: "✔";
}
  
  /* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -30px;
    content: "✖";
}

.filepond--root {
    margin: 10px 0px;
}
  
/* .filepond--panel-root {
    
} */
  
.filepond--drop-label {
    font-size: inherit;
}

.profile-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profile-intro {
    margin-left: 40px;
    margin-right: 100px;
}

.profile-upload {
    width: 400px;
}

.bio-section textarea {
    display: block;
    height: 100px;
    width: 400px;
    resize: none;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 4px;
    outline: none;
    padding: .25rem .5rem;
    font-size: 18px;
}

.bio-section textarea:focus {
    border-bottom: 4px solid black;
}

.bio-section label {
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
}

.profile-image {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}

.profile-main {
    margin-right: 20px;
    min-width: 250px;
}

.profile-btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.profile-btn a {
    margin-right: 10px;
}


@media only screen and (max-width: 1400px) {
    .profile-ctn {
        grid-template-columns: 1fr 1fr;
    }
    .profile-main {
        margin-left: 20px;
        margin-top: 40px;
        width: 400px;
    }
    .profile-intro {
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    .profile-ctn {
        grid-template-columns: 1fr;
    }
    .profile-main {
        margin-left: 20px;
        width: 400px;
    }
    .profile-intro {
        margin-right: 0;
    }
}

