body {
    margin: 0;
    font-family: roboto, Arial;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 300px;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
}

.profile-picture {
    padding-bottom: 20px;
}

.profile-picture img {
    display: block;
    width: 200px;
}

.bio-section {
    padding-bottom: 20px;
}

#bio-title {
    font-size: 25px;
}

#bio-content {
    line-height: 1.6em;
}

.profile-links a {
    display: block;
    color: blue;
}

#edit-profile-button {
    width: 200px;
    padding: 10px 0px 10px 0px;
    border: black solid 2px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 2px;
    font-size: 20px;
    font-style: bold;
}

#edit-profile-button:hover {
    cursor: pointer;
}