<div class="wrapper">
  <div id="have-account">
    Already have an account?
    <a class="btn btn-warning" href="/users/signin" role="button">Sign In</a>
  </div>
  <div class="form-ctn">
    <div class="form-title">Create new account</div>
    <form action="/users/signup" method="post">
      <%- include('../partials/_form_fields.ejs') %>
      <div style="text-align: center">
        <button class="btn btn-primary" type="submit" id="signup-button">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
